<div class="jumbotron">
  <h2>Get a Job</h2>
</div>

<div id="jobs_container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Argument 1</th>
        <th>Argument 2</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
        <%= for job <- @jobs, do: render("job.html", job: job) %>
    </tbody>
  </table>
</ul>
